@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&family=Rethink+Sans:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 74px;
  line-height: 88px;
}

h2 {
  font-size: 52px;
  line-height: 67px;
}

h3 {
  font-size: 30px;
  line-height: 36px;
}

body h1,
body h2,
body h3 {
  font-weight: 900;
}

body h4,
body h5,
body h6 {
  font-weight: 600;
}

body p,
body span,
body li,
body ol,
body strong {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

body strong {
  font-weight: 600;
}


body a,
body button {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}


.rotate-image {
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.rotate-container:hover .rotate-image {
  transform: rotateY(360deg);
}

h3.logo {
  position: relative;
  font-size: 20px;
  color: #fafafa;
  -webkit-text-stroke: 0.02vw #fafafa;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3.logo::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #00ED64;
  -webkit-text-stroke: 0.05vw #00ED64;
  border-right: 0px solid #22c55e;
  overflow: hidden;
  animation: animate 6s linear infinite;

}

@media only screen and (max-width: 400px) {
  h3.logo {
    font-size: 16px;
  }
}

@keyframes animate {

  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

.btn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: .8em 2em;
  display: inline-block;
  border-radius: 0px;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  border: 2px solid #15803d;
  background-color: #00ED64;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 8px 2px #10b981;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn::after {
  background-color: #4ade80;
}

.btn:hover::after {
  transform: scaleX(1.3) scaleY(1.5);
  opacity: 0;
}


.gradient-animation {
  background: url(/bg.webp) no-repeat;
  background-size: cover;

}

.ctabg {
  background: radial-gradient(65% 50% at 50% 0%, #FFF 20%, rgba(255, 255, 255, 0.00) 80%);
  background-blend-mode: overlay, normal;
  background-color: #052929;
}



.avatarBoxshadow {
  box-shadow: 0 0 10px 0px #00ed6375;
  border-radius: 442px;
  padding: 3px;
}

.Boxshadow {
  box-shadow: 0 0 10px 0px #00ed63;
}

.glassphormism {
  background: rgba(255, 255, 255, 0.342);
  box-shadow: 0 0px 1000px 0 rgba(0, 0, 0, 0.466);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 5px solid #00ed639c;

}

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.MuiDataGrid-cellContent,
.MuiDataGrid-cell,
.MuiDataGrid-cell,
.MuiTablePagination-toolbar,
.MuiSvgIcon-root,
.MuiTablePagination-selectLabel,
.MuiDataGrid-selectedRowCount {
  color: #fafafa !important;
  font-family: 'Inter' !important;
}

.MuiDataGrid-withBorderColor {
  border-color: #cccccc75 !important;
}

.MuiDataGrid-columnHeaderTitle,
.MuiDataGrid-columnHeaderTitle,
.MuiDataGrid-columnHeaders .MuiSvgIcon-root {
  color: #000 !important;
  font-family: 'Inter' !important;
  font-weight: 700 !important;

}

.MuiDataGrid-row:nth-child(odd) {
  background: #ffffff0e;
}

.MuiDataGrid-checkboxInput {
  accent-color: #cccccc75;
}

.MuiDataGrid-columnHeaders {
  background: #00ED64;
}

.MuiTypography-root {
  font-family: 'Inter' !important;
}

.MuiDataGrid-menuList {
  background: #001e2b;
  color: #fff;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  border-bottom: 2px solid #00ed63;
}

.MuiPaper-elevation {
  background: transparent;
}

.MuiMenuItem-gutters:hover {
  background: #ffff;
}

.customScollbar::-webkit-scrollbar {
  width: 12px;
}

.customScollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #00ed63;
}

.customScollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #001e2b;
}

.customScollbar::-webkit-scrollbar {
  width: 12px;
}

.accordion .panel {
  margin-bottom: 10px;
}

button.panel__head {
  background: rgb(37, 67, 80);
  background: linear-gradient(290deg, rgba(37, 67, 80, 1) 32%, rgba(15, 45, 58, 1) 64%, rgba(0, 30, 43, 1) 93%);
  background-blend-mode: overlay, normal;
  width: 100%;
  text-align: left;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.panel[aria-expanded="false"] .panel__head {
  border-radius: 10px;
}

.panel__content {
  color: black;
  padding: 20px;
  background: #bbf7d0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.panel[aria-expanded="false"] .panel__content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.panel__content ol {
  padding-left: 18px;
}

.panel__content ol li {
  list-style: auto;
  margin-bottom: 10px;
}